# Metabolic modeling
micom
cobra
python-libsbml

# Scientific computing
numpy
scipy
pandas

# Machine learning
#torch
scikit-learn

# Plotting
matplotlib

# Jupyter
ipykernel
notebook

# Data version control
dvc
